

#para1{
border: 3px solid blue;
background-color: solid red;
text-align: center;



}
#para2 {
background-color: #000000;
color: white;
text-align: left;
border: 3px solid red;
border-radius: 25;
padding: 20;
height 100px;
border-radius: 50px;
padding: 15px;

}



.para3 {
	color: #ffcc00;





}
a:visited {color:green;
}

a:hover {color:orange;
}

a:active { color:blue;
}
