#top {
   text-align: center;
    font-family: "Times New Roman", times, serif;
    border-style: inset;
    border-color: black;
    border-width: 5px;
    border-radius: 15px;
    background-color: #6666ff;
  
}
h2 {
  text-align: center
  
}