.p double {border-style: double;}

#header   {
position: fixed;
margin-top: -20px
width: 100%
height: 50px
background-color:#005ce6;
text-align: center;
margin-bottom: 20px;
}

#objective {




}

#Experince {




}
#Education {



}

#Footer

{


	
}